/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #404040;
	background: #f9f9f9;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
	background: url(https://images.wallpaperscraft.ru/image/fon_sploshnoy_svetlyy_yarkiy_44011_1280x720.jpg) center center no-repeat;
    color:#fff;
    text-align:center;
    background-size: cover;
    padding: 135px 20px 90px 20px;    
}
    header>h1 {
    	font-size: 60pt;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 35px;
        color: pink;
    }
    header>h3 {
    	font-size: 18pt;
        margin-bottom: 50px;
        font-style: italic;
    }
    header>div {
        font-size: 12pt;
        font-style: italic;
    }
    header>p {
    	font-size: 12pt;
        font-style: italic;
    }
    .subscribe {
        background: rgba(0, 0, 0, 0.65);
        display: table;
        padding: 20px;
        margin: 0 auto 10px auto;
        border-radius: 5px;
    }
      .subscribe input {
        float: left;
      }
      .subscribe input[type="text"], .subscribe input[type="email"] {
        padding: 0;
        border:0;
        width: 320px;
        margin-right: 10px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16pt;
        padding: 12px 20px 13px 20px;
        box-sizing: border-box;
      }
      .subscribe input[type="submit"] {
        background: #ae2c52;
        border: 0;
        color: #fff;
        font-size: 20pt;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding: 10px 35px;
        cursor: pointer;
      }
    
article {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
}
    article>h1 {
        font-size:48pt;
        text-align:center;
        margin-bottom: 25px;
        font-style: italic;
    }
    article>h3 {
        font-size:25pt;
        text-align:center;
        margin-bottom: 25px;
        font-style: italic;
    }
    article>div>ul>li {
        margin-bottom: 30px;
        font-style: italic;
    }
    b {
        text-transform: uppercase;
        font-weight: bold;
    }
    .imgleft {
        float: right;
        margin: 0 30px 20px 0;
        border-radius: 20px;
	width: 35%;
    }
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 950px) {
    header {
        padding: 30px 20px;
    }
    header>p {
        margin-top: 100px;
    }
}
@media screen and (max-width: 860px) {
    header {
        padding: 30px 20px;
    }
    header>h1 {
        font-size: 46pt; margin-bottom: 20px; color: pink;
    }
    header>h3 {
        margin-bottom: 25px;
    }
    header>p {
        margin-top: 60px;
    }
    .imgleft {
        float: right;
        margin: 0 20px 10px 0;
        border-radius: 20px;
	width: 35%;
    }
}
@media screen and (max-width: 430px) {
    header {
        width: auto;
        padding: 15px 10px;
        min-width: 290px;
    }
    header>h1 {
        font-size: 46pt; margin-bottom: 60px; color: pink;
    }
    header>h3 {
        margin-bottom: 40px;
    }
    header>p {
        margin-top: 120px;
    }
    .imgleft {
        float: right;
        margin: 0 10px 5px 0;
        border-radius: 20px;
	width: 35%;
    }
}
@media screen and (max-width: 395px) {
    header {
        width: auto;
        padding: 15px 10px;
        min-width: 290px;
    }
    header>h1 {
        font-size: 42pt; margin-bottom: 60px; color: pink;
    }
    header>h3 {
        margin-bottom: 40px;
    }
    header>p {
        margin-top: 120px;
    }
    .imgleft {
        float: right;
        margin: 0 10px 5px 0;
        border-radius: 20px;
	width: 35%;
    }
}
